<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="ios-leaf"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="ios-navigate"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="ios-person"></ion-tab>
</ion-tabs>
