page-plants-list {

  .card-background-page ion-card{
    margin: 0;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;

    & img{
      object-fit: cover;
      display: flex;
      height: 100%;
      width: 100%;
    }
  }

  ion-header{
    width: 80%;
    position: absolute;
    right: 0;
    left: auto;
    background: transparent;
    top: 20px;
  }

  ion-navbar{
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    -webkit-box-shadow: 5px 12px 62px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 5px 12px 62px 2px rgba(0,0,0,0.24);
    box-shadow: 5px 12px 62px 2px rgba(0,0,0,0.24);
  }

  .fixed-content, .scroll-content{
    margin-top: 0!important;
  }

  .card-background-page .card-title{
    width: 70%;
    background: white;
    color: black;
    padding: 15px;
    font-size: 1.6em;
    border-top-right-radius: 40px;
    bottom: 0;
    height: 55px;
    top: auto;
  }

  ion-title{
    padding-left: 30px;

    & > div{
      text-align: left;
    }
  }
}
