<!--
  Generated template for the PlantsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mes plantes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <ion-card *ngFor="let plant of plants" (click)="itemSelected(plant)">
    <img src="{{ plant.photo }}"/>
    <div class="card-title">{{ plant.name }}</div>
    <!-- <div class="card-subtitle">{{ plant.description }}</div> -->
  </ion-card>

</ion-content>
