page-families-single {


  .category-header{
    margin: 0;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 50px;
  }
  .plants-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    & ion-card{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0;

      & img{
        display: flex;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

      & .card-title{
        font-size: 1.2em;
        top: auto;
      }

    }

  }

}
