<!--
  Generated template for the FamiliesSinglePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>{{name}}</ion-title>
    </ion-navbar>

  </ion-header>

  <ion-content class="card-background-page">

    <div class="category-header">
      <ion-card>
        <img src="{{photo}}"/>
        <ion-card-content>
          <ion-card-title>
            {{name}}
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="plants-list">
     <ion-card *ngFor="let plant of plants">
          <img src="{{ plant.photo }}"/>
          <div class="card-title">{{ plant.name }}</div>
        </ion-card>
      </div>

  </ion-content>
