<!--
  Generated template for the UsersListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content class="card-background-page">

  <ion-card *ngFor="let user of users" (click)="itemSelected(user)">
    <!-- <ion-avatar item-start>
      <img src="{{ user.photo }}">
    </ion-avatar>
    <h2>{{ user.name }}</h2> -->
    <img src="{{ user.photo }}"/>
    <div class="card-title">{{ user.name }}</div>
    <div class="card-subtitle">{{ user.plants.length }} plantes</div>
  </ion-card>

</ion-content>
