<!--
  Generated template for the UsersSinglePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content>

  <ion-card>
   <img src="{{photo}}"/>

    <ion-card-content>
      <ion-card-title>
        {{name}}
      </ion-card-title>
      <p>
        {{mail}}
      </p>
    </ion-card-content>

  </ion-card>

</ion-content>
