page-plants-single {

  .plant-header{

      margin: 0;
      width: 100%;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-bottom: 10px;

  }
}
