<!--
  Generated template for the PlantsSinglePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >


  <ion-card>

      <div class="plant-header">
          <img src="{{photo}}"/>
        </div>


    <ion-card-content>


      <ion-item >
          <ion-card-title>
              {{name}}
            </ion-card-title>
          <ion-badge item-end (click)="categorySelected(category)">{{categoryName}}</ion-badge>
          <ion-badge item-end (click)="familySelected(family)">{{familyName}}</ion-badge>
        </ion-item>


      <p>
        {{description}}
      </p>


      <ion-item>
          <ion-icon name="md-thermometer" item-start large></ion-icon>
          <h2>{{temperature}} °C</h2>
        </ion-item>

        <ion-item>
            <ion-icon name="ios-water" item-start large></ion-icon>
            <h2>{{water}}</h2>
          </ion-item>

          <ion-item>
              <ion-icon name="ios-sunny" item-start large></ion-icon>
              <h2>{{exposure}}</h2>
            </ion-item>

    </ion-card-content>

  </ion-card>

</ion-content>
