<!--
  Generated template for the FamiliesListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content class="card-background-page">

  <ion-card *ngFor="let family of families" >
    <!-- <ion-avatar item-start>
      <img src="{{ user.photo }}">
    </ion-avatar>
    <h2>{{ user.name }}</h2> -->
    <img src="{{ family.photo }}"/>
    <div class="card-title">{{ family.name }}</div>
    <!-- <div class="card-subtitle">{{ family.description }}</div> -->
  </ion-card>

</ion-content>
