<!--
  Generated template for the CategoriesSinglePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="card-background-page">

  <ion-card>
    <img src="{{photo}}"/>
    <ion-card-content>
      <ion-card-title>
        {{name}}
      </ion-card-title>
    </ion-card-content>





  </ion-card>

   <ion-card *ngFor="let plant of plants">
        <img src="{{ plant.photo }}"/>
        <div class="card-title">{{ plant.name }}</div>
      </ion-card>

</ion-content>
